<launch>
	<param name="robot_description" command="cat $(find scriba_description)/urdf/scriba.urdf" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">["/joint_states"] </rosparam>
	</node>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<node name="scriba_base_controller" pkg="scriba" type="scriba_base_controller" />
	<node name="scriba_odometry_broadcaster" pkg="scriba" type="scriba_odometry_broadcaster" />
	
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyUSB0"/>
	</node>
</launch>