<launch>
	<arg name="gui" default="False" />
	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description" command="cat $(find scriba_description)/urdf/scriba.urdf" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">["/joint_states"] </rosparam>
	</node>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<node name="scriba_odometry_broadcaster" pkg="scriba" type="scriba_odometry_broadcaster" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find scriba_description)/urdf_odom.rviz" required="true" />
</launch>